h3{
    color: aqua;
    background-color: black;
}
h4{
    color: blueviolet;
    background-color: brown;
}

#tieude-1{
    background-color:blue ;
}
#doimaunen-h4{
    background-color: yellowgreen;
}
.tieude-2{
    background-color: red ;
}
div.Web4{
    color: wheat;
    background-color: black;
}
